[workspace]
resolver = "2"
members = ["common", "api", "lite"]

[workspace.package]
edition = "2024"
license = "MIT"
version = "0.1.0"

[workspace.dependencies]
async-trait = "0.1.89"
axum = "0.8.6"
base64ct = { version = "1.8.0", features = ["alloc"] }
blake3 = "1.8.2"
bytes = "1.10.1"
compact_str = "0.9.0"
clap = { version = "4.5.51", features = ["derive"] }
const_format = "0.2.35"
dashmap = "6.1.0"
enum-ordinalize = "4.3.2"
enumset = "1.1.10"
eyre = "0.6.12"
flate2 = "1.1.5"
futures = "0.3.31"
http = "1.3.1"
itertools = "0.14.0"
proptest = "1.9.0"
prost = "0.14.1"
prost-build = "0.14.1"
rkyv = "0.8.12"
rstest = "0.26.1"
serde = { version = "1.0.228", features = ["derive"] }
slatedb = "0.8.2"
strum = { version = "0.27", features = ["derive"] }
thiserror = "2.0.17"
time = { version = "0.3.44", features = ["serde", "parsing", "formatting"] }
tokio = "1.48.0"
tokio-util = "0.7.17"
utoipa = { git = "https://github.com/infiniteregrets/utoipa", rev = "9cd181d40ac0a50551ebe1995a4d73e8685890d6" }
zstd = "0.13.3"
